In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
stats = pd.read_csv("/Users/xiaochiu/ttt/game_stats.csv")
stats

,Unnamed: 0,Game ID,Player 1,Player 1 Type,Player 2,Player 2 Type,Winner,Winner Name,Winner Type,Moves
0,0,1,Bot,Bot,Bot2,Bot,Draw,NaN,NaN,7
1,0,2,Bot,Bot,Bot2,Bot,O,Bot2,Bot,8
2,0,3,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
3,0,4,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
4,0,5,Bot,Bot,Bot2,Bot,Draw,NaN,NaN,6
5,0,6,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
6,0,7,Bot,Bot,Bot2,Bot,Draw,NaN,NaN,6
7,0,8,Bot,Bot,Bot2,Bot,Draw,NaN,NaN,7
8,0,9,Bot,Bot,Bot2,Bot,O,Bot2,Bot,8
9,0,10,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
10,0,11,Bot,Bot,Bot2,Bot,Draw,NaN,NaN,7
11,0,12,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
12,0,13,Bot,Bot,Bot2,Bot,O,Bot2,Bot,6
13,0,14,Bot,Bot,Bot2,Bot,Draw,NaN,NaN,7
14,0,15,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
15,0,16,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
16,0,17,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
17,0,18,Bot,Bot,Bot2,Bot,Draw,NaN,NaN,5
18,0,19,Bot,Bot,Bot2,Bot,O,Bot2,Bot,8
19,0,20,Mary,Human,Bot2,Bot,Draw,NaN,NaN,5
20,0,21,Mary,Human,Bot2,Bot,X,Mary,Human,7
21,0,22,Mary,Human,Bot2,Bot,X,Mary,Human,5
22,0,23,Bot,Bot,David,Human,O,David,Human,8
23,0,24,Bot,Bot,David,Human,O,David,Human,6
24,0,25,Mary,Human,David,Human,Draw,NaN,NaN,7
25,0,26,Mary,Human,David,Human,X,Mary,Human,9
26,0,27,Mary,Human,David,Human,Draw,NaN,NaN,9
27,0,28,Mary,Human,David,Human,Draw,NaN,NaN,8
28,0,29,Bot,Bot,David,Human,Draw,NaN,NaN,7

In [3]:
winner = stats["Winner"]
winner

0     Draw
1        O
2        X
3        X
4     Draw
5        X
6     Draw
7     Draw
8        O
9        X
10    Draw
11       X
12       O
13    Draw
14       X
15       X
16       X
17    Draw
18       O
19    Draw
20       X
21       X
22       O
23       O
24    Draw
25       X
26    Draw
27    Draw
28    Draw
Name: Winner, dtype: object

In [4]:
stats[["Winner","Winner Type"]]

   Winner Winner Type
0    Draw         NaN
1       O         Bot
2       X         Bot
3       X         Bot
4    Draw         NaN
5       X         Bot
6    Draw         NaN
7    Draw         NaN
8       O         Bot
9       X         Bot
10   Draw         NaN
11      X         Bot
12      O         Bot
13   Draw         NaN
14      X         Bot
15      X         Bot
16      X         Bot
17   Draw         NaN
18      O         Bot
19   Draw         NaN
20      X       Human
21      X       Human
22      O       Human
23      O       Human
24   Draw         NaN
25      X       Human
26   Draw         NaN
27   Draw         NaN
28   Draw         NaN

In [5]:
stats["Winner"] != "Draw"

0     False
1      True
2      True
3      True
4     False
5      True
6     False
7     False
8      True
9      True
10    False
11     True
12     True
13    False
14     True
15     True
16     True
17    False
18     True
19    False
20     True
21     True
22     True
23     True
24    False
25     True
26    False
27    False
28    False
Name: Winner, dtype: bool

In [6]:
stats[stats["Winner"]!= "Draw"]

,Unnamed: 0,Game ID,Player 1,Player 1 Type,Player 2,Player 2 Type,Winner,Winner Name,Winner Type,Moves
1,0,2,Bot,Bot,Bot2,Bot,O,Bot2,Bot,8
2,0,3,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
3,0,4,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
5,0,6,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
8,0,9,Bot,Bot,Bot2,Bot,O,Bot2,Bot,8
9,0,10,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
11,0,12,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
12,0,13,Bot,Bot,Bot2,Bot,O,Bot2,Bot,6
14,0,15,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
15,0,16,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
16,0,17,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
18,0,19,Bot,Bot,Bot2,Bot,O,Bot2,Bot,8
20,0,21,Mary,Human,Bot2,Bot,X,Mary,Human,7
21,0,22,Mary,Human,Bot2,Bot,X,Mary,Human,5
22,0,23,Bot,Bot,David,Human,O,David,Human,8
23,0,24,Bot,Bot,David,Human,O,David,Human,6
25,0,26,Mary,Human,David,Human,X,Mary,Human,9

In [7]:
stats[stats["Winner Name"] == "Mary"]

,Unnamed: 0,Game ID,Player 1,Player 1 Type,Player 2,Player 2 Type,Winner,Winner Name,Winner Type,Moves
20,0,21,Mary,Human,Bot2,Bot,X,Mary,Human,7
21,0,22,Mary,Human,Bot2,Bot,X,Mary,Human,5
25,0,26,Mary,Human,David,Human,X,Mary,Human,9

In [8]:
# totoal num of games
stats["Game ID"].count()

29

In [9]:
# winning count
stats["Winner Name"].value_counts()

Bot      8
Bot2     4
Mary     3
David    2
Name: Winner Name, dtype: int64

In [10]:
rankings = pd. DataFrame(columns=[
    "Player Name",
    "Player Type",
    "Games",
    "Wins",
    "Draws",
    "Winning Rate"
])
rankings

Empty DataFrame
Columns: [Player Name, Player Type, Games, Wins, Draws, Winning Rate]
Index: []

In [11]:
stats

,Unnamed: 0,Game ID,Player 1,Player 1 Type,Player 2,Player 2 Type,Winner,Winner Name,Winner Type,Moves
0,0,1,Bot,Bot,Bot2,Bot,Draw,NaN,NaN,7
1,0,2,Bot,Bot,Bot2,Bot,O,Bot2,Bot,8
2,0,3,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
3,0,4,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
4,0,5,Bot,Bot,Bot2,Bot,Draw,NaN,NaN,6
5,0,6,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
6,0,7,Bot,Bot,Bot2,Bot,Draw,NaN,NaN,6
7,0,8,Bot,Bot,Bot2,Bot,Draw,NaN,NaN,7
8,0,9,Bot,Bot,Bot2,Bot,O,Bot2,Bot,8
9,0,10,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
10,0,11,Bot,Bot,Bot2,Bot,Draw,NaN,NaN,7
11,0,12,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
12,0,13,Bot,Bot,Bot2,Bot,O,Bot2,Bot,6
13,0,14,Bot,Bot,Bot2,Bot,Draw,NaN,NaN,7
14,0,15,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
15,0,16,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
16,0,17,Bot,Bot,Bot2,Bot,X,Bot,Bot,7
17,0,18,Bot,Bot,Bot2,Bot,Draw,NaN,NaN,5
18,0,19,Bot,Bot,Bot2,Bot,O,Bot2,Bot,8
19,0,20,Mary,Human,Bot2,Bot,Draw,NaN,NaN,5
20,0,21,Mary,Human,Bot2,Bot,X,Mary,Human,7
21,0,22,Mary,Human,Bot2,Bot,X,Mary,Human,5
22,0,23,Bot,Bot,David,Human,O,David,Human,8
23,0,24,Bot,Bot,David,Human,O,David,Human,6
24,0,25,Mary,Human,David,Human,Draw,NaN,NaN,7
25,0,26,Mary,Human,David,Human,X,Mary,Human,9
26,0,27,Mary,Human,David,Human,Draw,NaN,NaN,9
27,0,28,Mary,Human,David,Human,Draw,NaN,NaN,8
28,0,29,Bot,Bot,David,Human,Draw,NaN,NaN,7

In [12]:
# games count by player， winning rate
all_names = pd.concat([stats["Player 1"], stats["Player 2"]], ignore_index=True).unique().tolist()
rankings["Player Name"] = all_names
rankings["Player Type"] = [((stats["Player 1"] == name) | (stats["Player 2"] == name)).sum() for name in all_names]
rankings["Games"] = [((stats["Player 1"] == name) | (stats["Player 2"] == name)).sum() for name in all_names]
rankings["Wins"] = stats["Winner Name"].value_counts()
draw_games = [stats[stats["Winner"] == "Draw"]]
rankings["Draws"] = [((draw_games["Player 1"] == name) | (draw_games["Player 2"] == name)).sum() for name in all_names]
rankings["Winning Rate"] = [rankings["Wins"] / rankings["Games"]]
rankings

TypeError: list indices must be integers or slices, not str

In [ ]:
stats[["Winner Name","Winner Type"]].groupby("Winner Type").count()